*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: #fdf8e5;
}

                                    /* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 50px;
    background-color: rgb(10, 10, 8);
    /* position:static; */        /* positin is pendding for the navbar to be fixed at the top of the page when scrolling */
}

/* Logo Section */
.logo{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: rgb(10, 10, 8);
}

.logo h3{
    font-family:'Courier New', Courier,cursive;
    font-style: italic;
    font-size: large;
    text-decoration: solid;
    text-shadow: 15px 15px 15px rgba(82, 82, 76, 0.5);
    color: white;
    background-color: rgb(10, 10, 8);
}

/* Logo Image */
.logo img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit:cover;
}

/* Navigation Links */
.top{
    display: flex;
    list-style: none;
    gap: 30px;
    background-color: black;
}

.top a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: 0.3s;
    background-color: black;
}

/* Hover Effect */
.top a:hover{
    color: rgb(224, 220, 185);
}

                                    /* Hero Section */

.hero{
    height: 90vh;

    background-image: linear-gradient(rgba(255, 253, 247, 0.6),
    rgba(0,0,0,0.6)),
    url("images/bg.jpeg");
    width: 100%;

    background-size: cover;
    background-position: center;

    display: grid;
    justify-content: center;
    align-items: center;

    text-align: center;
}

/* Hero Content */

.hero-content h1{
    color: white;
    font-size: 60px;
    margin-bottom: 20px;
}

.hero-content p{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
}

/* Button */

.hero-content button{
    padding: 15px;

    background-color: rgba(158, 160, 150, 0.84);
    color: black;

    font-size: 18px;
    font-weight: bold;

    border: 2px solid gold;
    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;

    box-shadow: 0px 4px 10px rgba(0,0,0,0.4);
}

.hero-content button:hover{
    background-color: white;
}
                                    /* PRODUCTS SECTION */

.products{
    padding: 80px 50px;
    background-color: #fdf8e5;
}

/* Section Heading */

.products h2{
    text-align: center;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 10px 10px 15px rgba(82, 82, 76, 0.5);
    margin-bottom: 50px;
    color: black;
}

/* Product Container */

.product-list{
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

/* Product Card */

.product-item{
    width: 300px;

    background-color: white;

    border-radius: 15px;

    overflow: hidden;

    text-align: center;

    padding-bottom: 20px;

    box-shadow: 0px 5px 15px rgba(0,0,0,0.2);

    transition: 0.3s;
}

/* Hover Effect */

.product-item:hover{
    transform: translateY(-10px);
}

/* Product Image */

.product-item img{
    width: 100%;
    height: 250px;
    object-fit: cover;
}

/* Product Name */

.product-item h3{
    margin-top: 20px;
    color: black;
    font-weight: bolder;
    text-shadow: 1px 1px 1px rgba(82, 82, 76, 0.5);
    font-size: 25px;
}

/* Product Description */

.product-item p{
    padding: 15px;
    color: #555;
    font-weight:bold;   
    text-decoration: wavy;
    line-height: 1.6;
}

/* Optional Button */

.product-item button{
    padding: 12px 25px;

    border: none;

    background-color: black;
    color: white;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s;
}

.product-item button:hover{
    background-color: gold;
    color: black;
}
                                        /* ABOUT SECTION */

.about{
    display: flex;
    justify-content: center;
    align-items: center;

    gap: 60px;

    padding: 80px 50px;

    background-color: #171715;

    flex-wrap: wrap;
}

/* IMAGE */

.ab-image img{
    width: 350px;
    height: 450px;

    object-fit: cover;

    border-radius: 20px;

    box-shadow: 0px 5px 20px rgba(0,0,0,0.5);
}

/* CONTENT */

.ab-contant{
    max-width: 550px;
}

/* HEADING */

.ab-contant h2{
    font-size: 45px;

    color: gold;

    margin-bottom: 20px;
}

/* PARAGRAPH */

.ab-contant p{
    color: white;

    line-height: 1.8;

    font-size: 18px;

    margin-bottom: 15px;
}

/* BUTTON */

.ab-contant button{
    margin-top: 20px;

    padding: 15px 35px;

    border: none;

    background-color: gold;

    color: black;

    font-size: 16px;

    font-weight: bold;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}

/* BUTTON HOVER */

.ab-contant button:hover{
    background-color: white;

    transform: scale(1.05);
}

                                /* CONTACT SECTION */

.contact{
    padding: 100px 20px;

    background-color: #fdf8e5;

    text-align: center;
}

/* Heading */

.contact h2{
    font-size: 45px;

    color: black;

    margin-bottom: 40px;
}

/* Form */

.contact-form{
    max-width: 600px;

    margin: auto;

    display: flex;

    flex-direction: column;

    gap: 20px;
}

/* Inputs */

.contact-form input,
.contact-form textarea{
    padding: 15px;

    border: 2px solid rgba(249, 220, 56, 0.927);

    border-radius: 10px;

    font-size: 16px;

    outline: none;
}

/* Textarea */

.contact-form textarea{
    height: 150px;

    resize: none;
}

/* Button */

.contact-form button{
    padding: 15px;

    border: none;

    background-color: black;

    color: white;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}

/* Hover */

.contact-form button:hover{
    background-color: rgba(210, 188, 63, 0.461);

    color: black;
}

                                            /* Social Icons */

.social-icons a{
    display: block;

    color: white;

    text-decoration: none;

    margin-bottom: 12px;

    transition: 0.3s;
}

/* Icon Size */

.social-icons i{
    margin-right: 10px;

    font-size: 18px;
}

/* Hover Effect */

.social-icons a:hover{
    color: gold;

    transform: translateX(5px);
}






                                        /* MOBILE RESPONSIVE */

@media (max-width: 768px){

    /* Navbar */

    .navbar{
        flex-direction: column;
        gap: 15px;
        padding: 20px;
    }

    .top{
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    /* Hero */

    .hero{
        padding: 20px;
        text-align: center;
    }

    .hero h1{
        font-size: 32px;
    }

    .hero p{
        font-size: 16px;
    }

    /* Products */

    .product-item{
        width: 100%;
        max-width: 320px;
    }

    /* About */

    .about{
        flex-direction: column;
        text-align: center;
        padding: 50px 20px;
    }

    .ab-image img{
        width: 100%;
        max-width: 320px;
        height: auto;
    }

    .ab-contant h2{
        font-size: 32px;
    }

    /* Footer */

    .footer-container{
        flex-direction: column;
        text-align: center;
    }
}